.form {
  display: flex;
  flex-direction: column;
}
div {
  margin: 5px;
}
.form__group {
  display: flex;
  flex-direction: row;
}
.form__group-label{
	padding: 5px;
}
input:focus,
textarea:focus,
select:focus,
option:focus {
  outline: 0;
  border-color: lightskyblue;
}

.select__option:hover {
  background-color: blue;
  color: white;
}

.form__label_required::before {
  content: '* ';
  color: red;
}
body{
	font-size: 14px;
}
