* {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
h1 {
  margin: 10px 0 0 0;
}
.form {
  display: flex;
  flex-direction: column;
}
div {
  margin: 5px;
}
.form__group {
  display: flex;
  flex-direction: row;
}
.form__group-label {
  padding: 5px;
}
input:focus,
textarea:focus,
select:focus,
option:focus {
  outline: 0;
  border-color: lightskyblue;
}

.select__option:hover {
  background-color: blue;
  color: white;
}

.form__label_required::before {
  content: '* ';
  color: red;
}
body {
  font-size: 14px;
}
